<div class="translation-module" uib-dropdown ng-controller="LanguageSelectorTranslationController as languageSelector">
  <a class="translate-btn" uib-dropdown-toggle>
    {{languageSelector.selectedLanguage}} <span class="caret"></span>
  </a>
  <ul uib-dropdown-menu class="m-t-xs">
    <li ng-repeat="language in languageSelector.languages">
      <a ng-click="languageSelector.changeLanguage(language)">{{language.name}}</a>
    </li>
  </ul>
</div>
