<div class="form-builder" style="z-index: 4080 !important;">
  <div class="modal-header">

    <h4 class="modal-title" translate>Translation</h4>

  </div>
  <div class="modal-body row p-10">
    <div class="col-xs-12">
      <div class="tabs-container">

        <uib-tabset>

          <uib-tab ng-repeat="language in translationCtrl.translation.Languages">
            <uib-tab-heading>
              {{language.Name}}
              <span ng-if="language.changed" style="color:red">*</span>
            </uib-tab-heading>

            <div class="panel-body">

              <div class="form-group">
                <label class=" control-label" translate> Translate</label>
                <p class="form-control-static"> {{translationCtrl.translation.Key}}</p>
              </div>
              <div class="form-group">
                <label class=" control-label" translate> Translate to</label>

                <input ng-if="translationCtrl.inputType=='input'"
                       type="text"
                       class="form-control"
                       ng-change="language.changed=true"
                       ng-model="language.Value.Translated">
                <textarea ng-if="translationCtrl.inputType=='textarea'"
                          class="form-control" rows="3"
                          ng-change="language.changed=true"
                          ng-model="language.Value.Translated">
        </textarea>
              </div>
            </div>
          </uib-tab>

        </uib-tabset>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="translationCtrl.cancel()" translate>Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="translationCtrl.done()" translate>Done</button>
  </div>
</div>
