<div class="col-xs-12 p-0 clctn-cnt bg-w">
  <div class="col-xs-6 clctn-lft" ng-style="height">
    <div class="hdr-ttl bld">
      {{colInputTitle}}
    </div>
    <div class="form-group m-v-10">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="inputSearch" placeholder="Filter {{colInputTitle}}">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>

    <div ng-repeat="item in inputData |  filter:{npColSelected:false, $:inputSearch}">
      <div class="col-xs-12 clctn-dtl">
        <div class="clctn-ttl">
          {{item[header]}}
          <span class="f-rght">
            <span ng-click="add(item)" class="clctn-btn-sm "><i class="fa fa-plus text-success"></i></span>
            <span ng-click="detail(item)" class="clctn-btn-sm">
              <i class="fa text-muted" ng-class="item.npColActive ? 'fa-chevron-up':'fa-chevron-down'"></i>
            </span>
          </span>
        </div>
        <div class="clctn-hdn" ng-class="(item.npColActive || inputActive) ? 'actv':''"
             ng-include="colInputTemplate"></div>
      </div>
    </div>


  </div>
  <div class="col-xs-6 clctn-rght" ng-style="height">
    <div class="hdr-ttl bld">
      {{colOutputTitle}}

      <span class="f-rght">
        <span class="bld">{{count}}</span>
        item Selected
      </span>
    </div>
    <div class="form-group m-v-10">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="outputSearch" placeholder="Filter {{colOutputTitle}}">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>

    <div ng-repeat="item in inputData | filter:{npColSelected:true, $:outputSearch}">
      <div class="col-xs-12 clctn-dtl">
        <div class="clctn-ttl">
          {{item[header]}}
          <span class="f-rght">
            <span ng-click="remove(item)" class="clctn-btn-sm"><i class="fa fa-minus text-danger"></i></span>
            <span ng-click="detail(item)" class="clctn-btn-sm">

              <i class="fa text-muted" ng-class="item.npColActive ? 'fa-chevron-up':'fa-chevron-down'"></i>

            </span>
          </span>
        </div>

        <div class="clctn-hdn" ng-class="(item.npColActive || outputActive) ? 'actv':''"
             ng-include="colOutputTemplate"></div>

      </div>

    </div>

  </div>
</div>
