﻿.btn {
    &.fb {
        background: #3b579d;
        color: #fff;
    }

    &.fb:hover {
        background: #036;
    }

    &.gp {
        background: #d03f2c;
        color: #fff;
    }

    &.gp:hover {
        background: #900;
    }

    &.yh {
        background: #602bd5;
        color: #fff;
    }

    &.yh:hover {
        background: #4b1c99;
    }

    &.tw {
        background: #2ca8d2;
        color: #fff;
    }

    &.tw:hover {
        background: #069;
    }

    &.pt {
        background: #c51f22;
        color: #fff;
    }

    &.pt:hover {
        background: #900;
    }

    &.li {
        background: #007bb6;
        color: #fff;
    }

    &.li:hover {
        background: #036;
    }

    &.vi {
        background: #7c529e;        
        color: #fff;
    }

    &.vi:hover {
        background: #339;
    }

    &.wa {
        background: #29a628;
        color: #fff;
    }

    &.wa:hover {
        background: #060;
    }
}
