@mixin grid ($size: '') {
    $s: '';
    $sd: '';

    @if $size == '' {
        $s: '';
    }
    @else {
        $s: -#{$size};
    }

    @if $size == '' {
        $sd: #{g};
    }
    @else {
        $sd: #{$size};
    }

    $col-list: '';

    @for $i from 12 through 1 {
        $sep: ',.g';

        @if $i == 12 {
            $sep: '.g';
        }

        $col-list: #{$col-list}#{$sep}#{$s}-#{$i}
    }

    #{$col-list} {
        float: left;
    }

    .#{$sd}-hdn {
        display: none !important;
        visibility: hidden;
    }

    .#{$sd}-shw {
        display: block !important;
        visibility: visible;
    }

    .g#{$s}-frst {
        padding-left: 0;
    }

    .g#{$s}-lst {
        padding-right: 0;
    }

    .g#{$s}-frst-2 {
        padding-left: 0;
        padding-right: 5px;
    }

    .g#{$s}-lst-2 {
        padding-left: 5px;
        padding-right: 0;
    }

    .g#{$s}-frst-3 {
        padding-left: 0;
        padding-right: 6.66667px;
    }

    .g#{$s}-mdl-3 {
        padding-left: 3.33334px;
        padding-right: 3.33334px;
    }

    .g#{$s}-lst-3 {
        padding-left: 6.66667px;
        padding-right: 0;
    }

    .g#{$s}-prnt {
        padding-left: 0;
        padding-right: 0;
    }

    .g#{$s}-chld {
        padding-left: 10;
        padding-right: 10;
    }

    @for $i from 12 through 1 {
        .g#{$s}-#{$i} {
            width: 100% * $i/12;
        }

        .g#{$s}-pl-#{$i} {
            right: 100% * $i/12;
        }

        .g#{$s}-ps-#{$i} {
            left: 100% * $i/12;
        }

        .g#{$s}-prfx-#{$i} {
            margin-left: 100% * $i/12;
        }

        .g#{$s}-sfx-#{$i} {
            margin-right: 100% * $i/12;
        }
    }

    .g#{$s}-2-5 {
        width: 20%;
    }

    .g#{$s}-pl-2-5 {
        right: 20%;
    }

    .g#{$s}-ps-2-5 {
        left: 20%;
    }

    .g#{$s}-prfx-2-5 {
        margin-left: 20%;
    }

    .g#{$s}-sfx-2-5 {
        margin-right: 20%;
    }

    .g#{$s}-pl-0 {
        right: auto;
    }

    .g#{$s}-ps-0 {
        left: auto;
    }

    .g#{$s}-prfx-0 {
        margin-left: 0;
    }

    .g#{$s}-sfx-0 {
        margin-right: 0;
    }
}

@mixin grid-helper ($size: '') {
    $s: '';
    $sd: '';

    @if $size == '' {
        $s: '';
    }
    @else {
        $s: -#{$size};
    }

    
    .g#{$s}-frst {
        padding-left: 0;
    }

    .g#{$s}-lst {
        padding-right: 0;
    }

    .g#{$s}-frst-2 {
        padding-left: 0;
        padding-right: 5px;
    }

    .g#{$s}-lst-2 {
        padding-left: 5px;
        padding-right: 0;
    }

    .g#{$s}-frst-3 {
        padding-left: 0;
        padding-right: 6.66667px;
    }

    .g#{$s}-mdl-3 {
        padding-left: 3.33334px;
        padding-right: 3.33334px;
    }

    .g#{$s}-lst-3 {
        padding-left: 6.66667px;
        padding-right: 0;
    }
    
   
    
}
