@mixin padding ($size:''){
  .p-#{$size} {
  	padding: #{$size}px !important;
  }

  .p-t-#{$size} {
  	padding-top: #{$size}px !important;
  }

  .p-r-#{$size} {
  	padding-right: #{$size}px !important;
  }

  .p-b-#{$size} {
  	padding-bottom: #{$size}px !important;
  }

  .p-l-#{$size} {
  	padding-left: #{$size}px !important;
  }

  .p-v-#{$size} {
  	padding-top: #{$size}px !important;
  	padding-bottom: #{$size}px !important;
  }

  .p-h-#{$size} {
  	padding-right: #{$size}px !important;
  	padding-left: #{$size}px !important;
  }
}
