@mixin round ($size:''){
  .r-#{$size} {
    border-radius: #{$size}px;
  }

  .r-t-r-#{$size} {
    border-top-right-radius: #{$size}px;
  }

  .r-b-r-#{$size} {
    border-bottom-right-radius: #{$size}px;
  }

  .r-b-l-#{$size} {
    border-bottom-left-radius: #{$size}px;
  }

  .r-t-l-#{$size} {
    border-top-left-radius: #{$size}px;
  }

  .r-t-#{$size} {
    border-top-right-radius: #{$size}px;
    border-top-left-radius: #{$size}px;
  }

  .r-r-#{$size} {
    border-top-right-radius: #{$size}px;
    border-bottom-right-radius: #{$size}px;
  }

  .r-b-#{$size} {
    border-bottom-right-radius: #{$size}px;
    border-bottom-left-radius: #{$size}px;
  }

  .r-l-#{$size} {
    border-top-left-radius: #{$size}px;
    border-bottom-left-radius: #{$size}px;
  }
}
