$border-color: #e5e5e5;
.clctn-cnt {
  border: 1px solid $border-color;
  .clctn-lft,
  .clctn-rght {
    overflow-y: auto;
  }
  .clctn-lft {
    border-right: 1px solid $border-color;
  }
  .clctn-dtl {
    padding: 0;
    margin-bottom: 5px;
    .clctn-ttl {
      background: #f5f5f5;
      color: #000;
      padding: 10px;
      border: 1px solid #eee;
    }
    .clctn-hdn{
      display: none;
      border-bottom: 1px solid #eee;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      padding: 10px;
      &.actv{
        display: block;
      }
    }
  }
  .clctn-btn {
    &-sm {
      padding: 5px;
      &:hover{
        cursor: pointer;
        background: #e9e9e9;
        border-radius: 2px;
      }
    }
  }
}
