$wz-color-default: #E6E6E6;
$wz-color-current: $brand-primary;
$wz-color-done: lighten($brand-primary, 20%);
$wz-color-editing: $wz-color-current;

.wz-cnt {
  border: 1px solid #ccc;
  background: #FFF;
  .h-stp {
    .wz-hdr-cnt {
      overflow-x: hidden;
      padding: 0;
    }
    .wz-hdr {
      padding: 0;
      list-style-type: none;
      clear: both;
      margin: 0 -1px;
      text-align: center;
      width: 20000px;
      right: 0;
      position: relative;

      li {
        box-sizing: border-box;
        float: left;
        position: relative;
        margin: 10px 0;
        &:before {
          content: "";
          border-left: 22px solid #FFF;
          border-top: 22px solid transparent;
          border-bottom: 22px solid transparent;
          position: absolute;
          top: -2px;
          left: 0;
        }
        &:first-child::before {
          border-left: none;
          border-top: none;
          border-bottom: none;
        }
        &:after {
          content: '';
          border-left: 20px solid #eee;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          position: absolute;
          top: 0;
          left: 100%;
          z-index: 20;
        }
        &:last-child::after {
          border-left: none;
          border-top: none;
          border-bottom: none;
        }
        &:first-child a {
          padding: 5px 10px;
        }

        a {
          height: 40px;
          border: none;
          padding: 5px 10px 5px 30px;
          display: block;

          .num {
            display: inline-block;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            line-height: 30px;
            color: #000;
            font-weight: bold;
          }
        }

        &.editing,
        &.current {
          background: $wz-color-current;
          color: #fff;
          border-top: 1px solid $wz-color-current;
          border-bottom: 1px solid $wz-color-current;
          &:after {
            border-left: 20px solid $wz-color-current;
          }
          a {
            background: $wz-color-current;
            color: #fff;
            border-top: 1px solid $wz-color-current;
            border-bottom: 1px solid $wz-color-current;
          }

          .num {
            background: #fff;
            color: $wz-color-current;
          }
        }
        &.default {

          background: #ccc;
          color: #fff;
          border-top: 1px solid $wz-color-default;
          border-bottom: 1px solid $wz-color-default;
          &:after {
            border-left: 20px solid $wz-color-default;
          }
          a {
            background: $wz-color-default;
            color: #000;
            border-top: 1px solid $wz-color-default;
            border-bottom: 1px solid $wz-color-default;
          }

          .num {
            background: #c9c9c9;
            color: $wz-color-default;
          }

        }
        &.done {
          background: #ccc;
          color: #fff;
          border-top: 1px solid $wz-color-done;
          border-bottom: 1px solid $wz-color-done;
          &:after {
            border-left: 20px solid $wz-color-done;
          }
          a {
            background: $wz-color-done;
            color: #fff;
            border-top: 1px solid $wz-color-done;
            border-bottom: 1px solid $wz-color-done;
          }

          .num {
            background: #fff;
            color: $wz-color-done;
          }
        }

      }
    }
    .wz-nv-cnt {
      .wz-ttl {
        font-size: 24px;
      }
      .wz-btn {

      }
    }
  }
  .v-stp {
    .wz-hdr-cnt {
      padding: 10px 0;
    }
    .wz-hdr {
      padding: 0;
      list-style-type: none;
      clear: both;
      margin: 0 -1px;

      li {
        display: block;
        position: relative;
        margin-bottom: 2px;
        &:before {
          content: "";
          border-left: 22px solid transparent;
          border-top: 22px solid #fff;
          border-right: 22px solid transparent;
          position: absolute;
          top: -1px;
          right: 0;
        }
        &:first-child::before {
          border-left: none;
          border-top: none;
          border-bottom: none;
        }
        &:after {
          content: '';
          border-left: 20px solid transparent;
          border-top: 20px solid #eee;
          border-right: 20px solid transparent;
          position: absolute;
          top: 41px;
          right: 2px;
          z-index: 20;
        }
        &:last-child::after {
          border-left: none;
          border-top: none;
          border-bottom: none;
        }
        &:first-child a {

        }
        a {
          height: 40px;
          border: none;
          padding: 0 10px;
          display: block;
          line-height: 40px;
          .num {
            text-align: center;
            display: inline-block;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            line-height: 30px;
            color: #000;
            font-weight: bold;
          }
        }
        &.editing,
        &.current {
          background: $wz-color-current;
          color: #fff;
          border-top: 1px solid $wz-color-current;
          border-bottom: 1px solid $wz-color-current;
          &:after {
            border-top: 20px solid $wz-color-current;
          }
          &:last-child::after {
            border-left: none;
            border-top: none;
            border-right: none;
          }
          a {
            background: $wz-color-current;
            color: #fff;
            border-top: 1px solid $wz-color-current;
            border-bottom: 1px solid $wz-color-current;
          }

          .num {
            background: #fff;
            color: $wz-color-current;
          }
        }
        &.default {

          background: #ccc;
          color: #fff;
          border-top: 1px solid $wz-color-default;
          border-bottom: 1px solid $wz-color-default;
          &:after {
            border-top: 20px solid $wz-color-default;
          }
          &:last-child::after {
            border-left: none;
            border-top: none;
            border-right: none;
          }
          a {
            background: $wz-color-default;
            color: #000;
            border-top: 1px solid $wz-color-default;
            border-bottom: 1px solid $wz-color-default;
          }

          .num {
            background: #c9c9c9;
            color: $wz-color-default;
          }

        }
        &.done {
          background: #ccc;
          color: #fff;
          border-top: 1px solid $wz-color-done;
          border-bottom: 1px solid $wz-color-done;
          &:after {
            border-top: 20px solid $wz-color-done;
          }
          &:last-child::after {
            border-left: none;
            border-top: none;
            border-right: none;
          }
          a {
            background: $wz-color-done;
            color: #fff;
            border-top: 1px solid $wz-color-done;
            border-bottom: 1px solid $wz-color-done;
          }

          .num {
            background: #fff;
            color: $wz-color-done;
          }
        }
      }
    }
    .wz-nv-cnt {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      .wz-ttl {
        font-size: 24px;
      }
      .wz-btn {

      }
    }
  }
  .wz-bdy {
    .wz-bdy-hdr {
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
      padding: 5px 0;
      .wz-ttl {
        font-size: 21px;
        padding: 0;
      }
      .wz-btn {
        text-align: right;
        padding: 0;
      }
    }
  }

}
